$base-color: #444;
$fade-color: #aaa;
$font-color: #222;
$font-size: 5.6vw;
$link-color: #00c0ff;

@mixin buttonlike {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin full-size {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
