$base-color: #444;
$fade-color: #aaa;
$font-color: #222;
$font-size: 5.6vw;
$header-height: 5 * $font-size / 4;
$link-color: #00c0ff;
$swash-height: 18vw;
$swash-width: 63vw;

@font-face {
  font-family: anke-calligraphic;
  src: url("fonts/anke-calligraphic-2.00.ttf") format("truetype");
}

@font-face {
  font-family: arphic-gukai;
  src: url("fonts/arphic-gukai.ttf") format("truetype");
}

@mixin buttonlike {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin full-size {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body {
  background-color: $base-color;
  color: $font-color;
  font-family: Georgia, serif;
  margin: 0;
  overflow: hidden;
  text-align: center;

  .ionic-body {
    text-align: left;
  }
}

#header {
  background-color: #666;
  height: $header-height;
  line-height: $header-height;

  > .info {
    color: white;
    font-family: sans-serif;
    font-size: $header-height / 2;
    margin: 0 $header-height / 4;

    &.left { float: left; }
    &.right { float: right; }
  }
}

#layout {
  top: $header-height !important;

  &, > .background, > .foreground {
    @include full-size;
  }

  &.theme-flat {
    > .background {
      background-color: #a4d4ff;
    }

    #teach {
      > .prompt, > .wrapper > .flashcard {
        background-color: #f5f5f5;
      }
    }
  }

  &.theme-painterly, &.theme-textured {
    > .background {
      background-image: url("background.jpg");
      background-position-y: -100px;
      background-size: cover;
    }

    #teach {
      > .prompt, > .wrapper > .flashcard {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
        opacity: 0.92;
      }
    }
  }

  &.theme-textured {
    > .foreground {
      background-image: url("foreground.jpg");
      background-size: cover;
      mix-blend-mode: difference;
    }
  }

  > .foreground {
    pointer-events: none;
    z-index: 9999999999;
  }
}

#index {
  background-color: $base-color;
  color: white;
  @include full-size;

  > .wrapper {
    @include full-size;
    bottom: auto;
    top: 50%;
    transform: translateY(-50%);

    > .title {
      font-family: anke-calligraphic;
      font-size: 4 * $font-size;
      line-height: 4 * $font-size;
      margin-bottom: 20%;
    }

    > .teach, > .options > .option {
      text-decoration: none;
      @include buttonlike;
    }

    > .teach {
      -webkit-mask-image: url("swash.svg");
      -webkit-mask-position-x: 0.025 * $swash-width;
      -webkit-mask-position-y: 0.025 * $swash-height;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-size: $swash-width $swash-height;
      background-color: white;
      color: $base-color;
      display: inline-block;
      font-size: 2 * $swash-height / 3;
      font-weight: bold;
      height: $swash-height;
      line-height: $swash-height;
      margin-bottom: 10%;
      width: $swash-width;

      &:hover {
        background-color: $link-color;
      }
    }

    > .options > .option {
      color: white;
      display: inline-block;
      font-size: 0.8 * $font-size;
      margin: 4%;
      width: 20%;

      &:hover {
        color: $link-color;
      }

      > .icon {
        font-size: 2 * $font-size;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

#teach {
  > .prompt {
    background-color: white;
    position: fixed;
    text-align: center;
    width: 100%;

    > .control {
      color: $fade-color;
      font-size: 8 * $font-size / 7;
      left: 0;
      padding: 3% 4%;
      position: absolute;
      @include buttonlike;

      &.left:hover, &.right:active {
        color: $link-color;
      }

      &.right {
        left: auto;
        right: 0;
      }
    }

    > .pinyin, > .definition {
      font-size: $font-size;
      line-height: 5 * $font-size / 4;
      margin: 3%;
      min-height: 5 * $font-size / 4;
    }
  }

  > .scroller {
    width: 100%;
    @include full-size;
    right: auto;
    top: 37vw;

    > .wrapper {
      transform: translateY(50%);
      @include full-size;

      > .flashcard {
        background-color: white;
        display: block;
        overflow: hidden;
        transform: translateY(-50%);
        @include full-size;
        bottom: auto;
        left: 6%;
        right: 6%;

        &.errors {
          > canvas { display: none; }
          > .error { display: block; }
        }

        > canvas {
          vertical-align: middle;
        }

        > .error {
          display: none;
          font-size: $font-size;
          line-height: 5 * $font-size / 4;
          padding: 6% 0;
          min-height: 5 * $font-size / 4;

          > .option {
            background-color: $base-color;
            color: white;
            display: block;
            font-size: 5 * $font-size / 6;
            margin: 6% auto 2%;
            padding: $font-size / 3;
            width: 84%;
            @include buttonlike;

            &:first-child {
              margin-top: 8%;
            }

            &:hover {
              background-color: $link-color;
            }
          }
        }

        > .report-issue {
          animation: fadeIn 0.1s;
          color: #888;
          font-size: 2 * $font-size;
          padding: 4% 0;
          position: absolute;
          right: 0;
          top: 0;
          width: 16%;
          -webkit-text-stroke-color: #222;
          -webkit-text-stroke-width: $font-size / 18;
        }
      }
    }
  }
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

#grading {
  animation: slideUp 0.1s;
  @include full-size;
  top: auto;

  > .icon {
    float: left;
    font-size: 3 * $font-size;
    padding: 3% 0;
    width: 25%;
    -webkit-text-stroke-width: $font-size / 12;

    &[data-result="0"] {
      color: #84b4d8;
      -webkit-text-stroke-color: #003054;
    }

    &[data-result="1"] {
      color: #88c874;
      -webkit-text-stroke-color: #183804;
    }

    &[data-result="2"] {
      color: #c0c080;
      -webkit-text-stroke-color: #404000;
    }

    &[data-result="3"] {
      color: #e87878;
      -webkit-text-stroke-color: #600000;
    }
  }
}

#answer-selection {
  > .option {
    background-color: $base-color;
    color: white;
    font-size: $font-size;
    line-height: 2 * $font-size;
    margin-top: 3 * $font-size / 4;
    padding: 0 6%;

    &:first-child {
      margin-top: 0;
    }

    > .character, .spacer, .pinyin {
      display: inline-block;
      vertical-align: top;
    }

    > .character {
      font-family: arphic-gukai;
      font-size: 5 * $font-size / 4;
      text-align: center;
      width: 5 * $font-size / 4;
    }

    > .spacer {
      margin-right: $font-size / 8;
    }
  }
}

#answer {
  background-color: lightgray;
  text-align: left;
  transform: translateY(100%);
  transition: transform 0.3s;
  @include full-size;

  > .header {
    background-color: $base-color;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 8 * $font-size / 7;
    line-height: 16 * $font-size / 7;
    padding: 0 $font-size / 2;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1;

    > .back {
      left: $font-size / 3;
      top: -$font-size / 15;
      position: absolute;

      &:hover {
        color: $link-color;
      }

      > .icon {
        font-size: 6 * $font-size / 4;
        vertical-align: middle;
      }

      > .text {
        display: inline-block;
        font-size: 6 * $font-size / 7;
      }
    }
  }

  > .body {
    overflow-y: scroll;
    @include full-size;
    top: 16 * $font-size / 7;

    > .animation {
      background-color: white;
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
      margin: 6% auto;
      width: 52%;

      svg {
        vertical-align: middle;
      }
    }

    > .panel {
      box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
      margin: 6% auto;
      width: 88%;

      > .panel-heading {
        background-color: $base-color;
        border-color: $base-color;
        border-radius: $font-size / 4 $font-size / 4 0 0;
        color: white;
        padding: $font-size / 4 $font-size / 2;
      }

      > .panel-body {
        background-color: white;
        border: $font-size / 16 solid $base-color;
        border-radius: 0 0 $font-size / 4 $font-size / 4;
        padding: 0 $font-size / 2;

        > .field {
          margin: 3 * $font-size / 4 0;

          > .label, > .value {
            font-size: 3 * $font-size / 4;
            line-height: $font-size;
          }

          > .label {
            float: left;
            font-weight: bold;
            margin-right: 0.3 * $font-size;
            text-align: right;
            width: 2.1 * $font-size;
          }

          > .value {
            margin-left: 2.4 * $font-size;
          }
        }

        .decomposition {
          font-size: 3 * $font-size / 4;
          line-height: $font-size;
          margin: 3 * $font-size / 4 0;
          margin-left: $font-size;

          .header {
            float: left;

            &.ids { font-weight: bold; }

            .value {
              display: inline-block;
              text-align: center;
              width: $font-size;
            }
          }

          .text {
            display: block;
            margin-left: 7 * $font-size / 4;
          }
        }

        > .decomposition {
          margin-left: 0;
        }

        a.link {
          color: #0098f8;
          text-decoration: none;
        }
      }
    }
  }
}

#report-issue {
  > .message {
    background-color: #f4f4f4;
    border: 1px solid #b8b8b8;
    font-size: 4.2vw;
    margin-top: 2.1vw;
    padding: 1vw 2vw;
    resize: none;
  }
}
