.navbar {
  cursor: default !important;
  -webkit-user-select: none !important;
}

.navbar .navbar-brand:hover {
  color: #ffffff !important;
}

.btn {
  outline: 0 !important;
  padding: 6px 12px !important;
}

#reload-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

#progress .progress {
  height: 18px;
  margin-bottom: 0;
}

#controls {
  position: absolute;
  top: 72px;
  left: 12px;
  z-index: 1;
}

#controls .btn {
  width: 100px;
}

#glyph {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  text-align: center;
}

#glyph.verified {
  background-color: #dfc;
}

#glyph svg {
  height: 100%;
  margin: 0 auto;
}

#glyph svg g path.stroke:hover {
  cursor: pointer;
  stroke: red;
  stroke-width: 8;
}

#glyph svg g circle:hover, #glyph svg g line:hover {
  cursor: pointer;
  fill: blue;
  stroke: blue;
}
