$base-color: #444;
$fade-color: #aaa;
$font-color: #222;
$font-size: 5.6vw;
$header-height: 4 * $font-size / 3;
$link-color: #00c0ff;

@font-face {
  font-family: anke-calligraphic;
  src: url("fonts/anke-calligraphic-2.00.ttf") format("truetype");
}

@mixin buttonlike {
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin full-size {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

body {
  background-color: $base-color;
  color: $font-color;
  font-family: Georgia, serif;
  margin: 0;
  overflow: hidden;
  text-align: center;

  .ionic-body {
    text-align: left;
  }
}

#header {
  background-color: $font-color;
  height: $header-height;
  line-height: $header-height;

  > .info {
    color: white;
    font-family: sans-serif;
    font-size: $header-height / 2;
    margin: 0 $header-height / 4;

    &.left { float: left; }
    &.right { float: right; }
  }
}

#layout {
  top: $header-height !important;

  &, > .background, > .foreground {
    @include full-size;
  }

  &.theme-flat {
    > .background {
      background-color: #a4d4ff;
    }

    #teach {
      > .prompt, > .wrapper > .handwriting {
        background-color: #f5f5f5;
      }
    }
  }

  &.theme-painterly, &.theme-textured {
    > .background {
      background-image: url("background.jpg");
      background-position-y: -100px;
      background-size: cover;
    }

    #teach {
      > .prompt, > .wrapper > .handwriting {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
        opacity: 0.92;
      }
    }
  }

  &.theme-textured {
    > .foreground {
      background-image: url("foreground.jpg");
      background-size: cover;
      mix-blend-mode: difference;
    }
  }

  > .foreground {
    pointer-events: none;
    z-index: 9999999999;
  }
}

#index {
  background-color: $base-color;
  color: white;
  @include full-size;

  > .wrapper {
    margin-top: -50%;
    @include full-size;
    bottom: auto;
    top: 50%;

    > .title {
      font-family: anke-calligraphic;
      font-size: 4 * $font-size;
      line-height: 4 * $font-size;
      margin-bottom: 8%;
    }

    > .option {
      background-color: $font-color;
      border: 1px solid white;
      border-radius: 0.25 * $font-size;
      color: white;
      display: block;
      font-size: $font-size;
      margin: 8% auto;
      padding: 2% 4%;
      text-align: left;
      text-decoration: none;
      width: 60%;
      @include buttonlike;

      &:hover {
        background-color: #013;
        border: 1px solid $link-color;
        color: $link-color;
      }

      &.teach {
        background-color: white;
        color: $font-color;

        &:hover {
          background-color: $link-color;
        }
      }

      > .icon {
        display: inline-block;
        margin-right: 4%;
        text-align: center;
        width: $font-size;
      }
    }
  }
}

#teach {
  > .prompt {
    background-color: white;
    position: fixed;
    text-align: center;
    width: 100%;

    > .control {
      color: $fade-color;
      font-size: 8 * $font-size / 7;
      left: 0;
      padding: 3% 4%;
      position: absolute;
      @include buttonlike;

      &:hover {
        color: $link-color;
      }

      &.right {
        left: auto;
        right: 0;
      }
    }

    > .pinyin, > .definition {
      font-size: $font-size;
      line-height: 5 * $font-size / 4;
      margin: 3%;
      min-height: 5 * $font-size / 4;
    }
  }

  > .wrapper {
    padding: 0 6%;
    transform: translateY(50%);
    @include full-size;
    top: 27%;

    > .handwriting {
      background-color: white;
      display: inline-block;
      transform: translateY(-50%);
      width: 100%;

      > canvas {
        vertical-align: middle;
      }
    }
  }
}
