.navbar {
  cursor: default !important;
  -webkit-user-select: none !important;
}

.navbar .navbar-brand:hover {
  color: #ffffff !important;
}

.navbar .progress {
  float: right;
  margin-top: 21px;
  margin-right: -3px;
  width: 298px;
}

.btn {
  outline: 0 !important;
  padding: 6px 12px !important;
}

.navbar .progress, #progress .progress {
  height: 18px;
  margin-bottom: 0;
}

#controls, #right-controls {
  position: absolute;
  top: 72px;
  z-index: 1;
}

#controls .btn, #right-controls .btn {
  width: 100px;
}

#controls {
  left: 12px;
}

#right-controls {
  right: 12px;
}

#gallery, #gallery-loader, #glyph {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  text-align: center;
}

#gallery-loader, #glyph {
  bottom: 0;
}

#gallery-loader {
  position: fixed !important;
  top: 0;
  transform: scale(2, 2);
}

#gallery-loader .whirly-loader {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#glyph .log {
  position: absolute;
  text-align: left;
  left: 40px;
  top: 76px;
}

#glyph .log .log-line {
  font-size: 20px;
  margin-bottom: 16px;
}

#glyph .log .log-line.error {
  color: red;
}

#glyph .log .log-line.success {
  color: green;
}

#glyph.error {
  background-color: #fdc;
}

#glyph.verified {
  background-color: #dfc;
}

#glyph svg {
  height: 100%;
  margin: 0 auto;
}

#gallery svg {
  height: 200px;
  width: 200px;
}

#gallery .gallery-block {
  display: inline-block;
  margin: 60px auto;
  text-align: left;
}

#gallery .gallery-block .block-header {
  float: left;
  font-size: 60px;
  line-height: 200px;
  margin-right: 80px;
  text-align: right;
  width: 80px;
}

#gallery .gallery-block .block-values {
  float: left;
  width: 1020px;
}

#gallery svg.radical {
  cursor: pointer;
}

#gallery svg.radical:hover {
  background-color: #8cf;
}

#gallery svg g path.stroke:hover, #glyph svg g path.stroke:hover {
  cursor: pointer;
  stroke: red;
  stroke-width: 8;
}

#glyph svg g circle:hover, #glyph svg g line:hover {
  cursor: pointer;
  fill: blue;
  stroke: blue;
}
