<script type="text/ng-template" id="decomposition.template">
  <div class="decomposition">
    <div class="header"><div class="value">{{node.value}}</div> -</div>
    <div class="text">{{node.label}}</div>
    <ng-include src="'decomposition.template'"
                ng-repeat="node in node.children"></ng-include>
  </div>
</script>

<script type="text/ng-template" id="order.template">
  <svg viewBox="0 0 1024 1024">
    <g stroke="lightgray" stroke-dasharray="1,1" stroke-width="1"
       transform="scale(4, 4)">
      <line x1="0" y1="0" x2="256" y2="256"></line>
      <line x1="256" y1="0" x2="0" y2="256"></line>
      <line x1="128" y1="0" x2="128" y2="256"></line>
      <line x1="0" y1="128" x2="256" y2="128"></line>
    </g>
    <g transform="scale(1, -1) translate(0, -900)">
      <path ng-repeat="stroke in controller.strokes"
            x-ng-attr-class="{{stroke.class}}"
            x-ng-attr-d="{{stroke.d}}"></path>
      <g ng-repeat="animation in controller.animations">
        <clipPath id="{{animation.clip}}">
          <path x-ng-attr-d="{{animation.stroke}}"></path>
        </clipPath>
        <path x-ng-attr-class="animation {{animation.class}}"
              x-ng-attr-clip-path="url(#{{animation.clip}})"
              x-ng-attr-d="{{animation.median}}"
              x-ng-attr-stroke-dasharray="
                  {{animation.length}} {{animation.spacing}}"
              x-ng-attr-stroke-dashoffset="{{animation.advance}}"/>
      </g>
    </g>
  </svg>
</script>

<div id="data" ng-controller="DataController as controller"
     class="{{controller.short}} {{controller.orientation}}">
  <div class="pane" ng-if="controller.orientation === 'vertical'">
    <ng-include src="'order.template'"></ng-include>
  </div>
  <div class="pane">
    <div class="panel panel-primary metadata">
      <div class="panel-heading">
        <h3 class="panel-title">
          Metadata for {{controller.character}}
        </h3>
      </div>
      <div class="panel-body">
        <div class="field" ng-repeat="metadata in controller.metadata">
          <label class="control-label">{{metadata.label}}</label>
          <div class="value">{{metadata.value}}</div>
        </div>
      </div>
    </div>
    <div class="panel panel-primary metadata">
      <div class="panel-heading">
        <h3 class="panel-title">
          Decomposition for {{controller.character}}
        </h3>
      </div>
      <div class="panel-body">
        <ng-include src="'decomposition.template'"
                    ng-repeat="node in controller.decomposition"></ng-include>
      </div>
    </div>
  </div>
  <div class="pane" ng-if="controller.orientation === 'horizontal'">
    <ng-include src="'order.template'"></ng-include>
  </div>
</div>
