html, body {
  background-color: #68a;
  overflow: hidden;
  margin: 0;
  text-align: center; }

.navbar {
  position: fixed;
  width: 100%; }
  .navbar .navbar-brand {
    color: white !important; }

#data {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px; }
  #data .left-pane {
    float: left;
    height: 100%;
    width: 680px; }
    #data .left-pane .metadata {
      margin: 16px;
      text-align: left; }
      #data .left-pane .metadata .panel-body {
        padding: 8px 16px; }
  #data svg {
    float: left;
    height: 100%;
    vertical-align: top; }

#search {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 60px; }
  #search #wrapper {
    display: inline-block;
    overflow: hidden;
    padding: 16px;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 0 0 0;
    -webkit-transform-origin: 0 0 0; }
    #search #wrapper .handwriting {
      background-color: white; }
      #search #wrapper .handwriting .input {
        position: absolute; }
      #search #wrapper .handwriting .input canvas, #search #wrapper .handwriting svg {
        vertical-align: top; }
    #search #wrapper .controls .button {
      background-color: white;
      border: 1px solid #2c3e50;
      font-size: 16px;
      width: 50%; }
    #search #wrapper .output {
      background-color: white;
      clear: both;
      margin-top: 48px;
      height: 32px; }
      #search #wrapper .output .candidate {
        border: 1px dotted lightgray;
        font-size: 20px;
        width: 32px; }
    #search #wrapper .controls .button, #search #wrapper .output .candidate {
      box-sizing: border-box;
      color: #2c3e50;
      cursor: pointer;
      float: left;
      height: 32px;
      line-height: 30px;
      margin: 0;
      text-align: center;
      text-decoration: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none; }
      #search #wrapper .controls .button:hover, #search #wrapper .output .candidate:hover {
        background-color: #bdf; }
